.mvl-main-footer{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary-dark);
    color: var(--color-accent);
}

.Container-Footer-Completed {
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: -1%;
    margin-right: -55%;
    margin-left: 2%;
}

.container-imagen-m{
    margin-left: -150px;
    margin-top: -50px;
    margin-right: -25px;
    width: 20%;
}

.container-bloque2{
    margin-left: 50px;
    margin-top: 52px;
    margin-right: 50px;
    font-size: 15px;
}

.imagen-m{
    width:  100%;
    height: 100%;
    //margin-left: -25px;
}

.marvel-about{
    font-family: Roboto,Trebuchet MS,Helvetica,Arial,sans-serif;
    font-weight: 800;
    margin-right: 5px;
    margin-left: 5px;
    letter-spacing: 3px;
    margin-left: -10px;
}

.cuadro2{
    display: block;
    font-family: "Roboto","Trebuchet MS",Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: lighter;
    letter-spacing: 1px;
    margin-right: 20px;
}

.list1-footer{
    list-style: none;
}

.list2-footer{
    list-style: none;
}

.text-footer{
    display: block;
    font-size: 15px;
    font-weight: lighter;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.main.footer__promotion-image-wrapper{
    margin-right: 50px;
}

.main-footer__promotion-info {
    margin-right: 50px;
}

.ul-follow{
    list-style: none;
}

.main-footer__follow{
    width: 20%;
    margin-right: -150px;
    margin-left: -1px;
    margin-top: -10px;

}

.main.footer__promotion-image-wrapper{
    margin-left: 50px;
    margin-top: 50px;

}

.main-footer__promotion-info{
    margin-left: 50px;
    margin-top: 5px;
}
.redes-footer{
    width:  100%;
    height: 100%;
}

.vector-redes{
    width:  47%;
    margin-left: 57px;
}

.imagen-insider{
    width:  15%;
    height: 5%;
    margin-top: -10px;
    margin-left: 20px;
}

.imagen-UNLIMIT{
    width:  30%;
    height: 20%;
    margin-top: 55px;
    margin-left: -40px;
}

.main.footer__promotion-image-wrapper{
    margin-top: auto;
}
.main-footer__promotion-link{
    margin-top: -50px;
    margin-right: -200px;
    margin-left: 50px;
}

.main-footer__promotion-info{
    margin-top: -100px;
    margin-right: 5px;
}

.texto-follow-marvel{
    margin-left: 57px;
}

.Text-Final-Footer {
   display: flex;
   position: relative;
   top:  30%;
   right: 32%;
   justify-content: center;

}

.Container-Text-Final {
    display:flex;
    position: relative;
    display: grid;
    grid-template-columns: max-content max-content max-content max-content max-content max-content max-content max-content;
    grid-column-gap: 55px; 
    margin-right: -450px;
    margin-left: 100px;
}

.Text-Final-Footer {
    display:flex;
    font-size: small;
    margin-left: -17px; //Sebitas.
    margin-right: 20px;
    color: aliceblue;
}