.page__component.firstComponent, .page__component:first-child {
    margin-top: 0;
    padding: 0;
    margin-bottom: 51px;
}

.search-bar {
    padding: 70px 0px 0;
    display: flex;
    border-bottom: 3px solid #151515;
}

.typeahead {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    width: 100%;
}

.typeahead__icon {
    position: absolute;
    top: 10px;
}

.icon--svg.icon--search {
    fill: none;
    stroke-width: 2px;
    stroke-linecap: square;
}

.icon--svg--black-stroke {
    stroke: #151515;
}

.icon--svg {
    fill: #151515;
}

.input-text{
    border: none;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #151515;
    width: 100%;
    padding-bottom: 0.4375rem;
    padding-left: 1.875rem;
    border-radius: 0;
}

.typeahead__container {
    width: 100%;
}

.typeahead__input {
    border: 0;
    // border-bottom: 2px solid #151515;
    width: 100%;
    padding-bottom: 0.4375rem;
    padding-left: 2rem;
    border-radius: 0;
    font-family: "robotto";
}

.search-icon{
    width: 26px;
    position: absolute;
    margin-right: 18px;
    margin-top: -7px;
}

.typeahead__input {
    font: 800 26px/1 RobotoCondensed,Trebuchet MS,Helvetica,Arial,sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.typeahead__input:focus {
    outline-color: #e8b63e
}
//Total characters style
.results_totalItems {
    font: 400 13px/1 Roboto Bold,Trebuchet MS,Helvetica,Arial,sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #767676;
    margin-top: 10px;
    margin-bottom: 10px;
}
//'Series' button styles
.filters {
    font-size: 1rem;
    width: 100%;
    display: block;
    justify-content: flex-end;
}

.filters__serie {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.filters__serie:hover {
    color: red;
}

.filters__serie--text {
    font-weight: 700;
    letter-spacing: 2px;
    cursor: pointer;
    padding-top: 13px;
}

.filters__serie.icon {
    width: 1.4rem;
    height: 1.4rem;
    transition-duration: 0.5s;
    cursor: pointer;
}

.filters__serie__icon-open {
    color: red;
    rotate: 180deg 0;
    opacity: 1;
    transition-duration: 0.5s;
}
//Series container styles
.series {
    background-color: white;
    width: 480px;
    position: absolute;
    border: 1px solid #dfdfdf;
    z-index: 50;
}

.series__list {
    list-style-type: none;
    max-height: 280px;
    font-weight: 500;
    padding: 15px 15px 25px 15px;
    margin-bottom: 5px;
    overflow: auto;
    box-sizing: border-box;
}

.series__list--item {
    margin-bottom: inherit;
}

.series__list input {
    cursor: pointer;
    margin-right: 15px;
}

.series__list--text {
    padding-left: 15px;
    cursor: pointer;
}
//Buttons container styles
.series__buttons--container {
    display: flex;  
    justify-content: space-between;
    border-top: 1px  solid #dfdfdf;
    margin: 1px 20px 15px 15px;
    padding-top: 15px;
}

.series__buttons {
    color: #858585;
    display: flex;
    background-color: transparent;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 800;
    cursor: pointer;
    padding-left: 15px;
    height: 20px;
    justify-content: space-between;
    border: none;
}

.series__buttons--left {
    cursor: not-allowed;
    pointer-events: none;
}

.series__buttons--enabled button{
    cursor: pointer;
    pointer-events: auto;
    color: red;
}

.series__buttons--right {
    display: flex;
}

.series__buttons--right button:hover {
    color: #151515;
}


// sortby

.dropdown_menu {
    background-color: #151515;
  }
  
  // .dropdown_menu {
  //   right: 0;
  //   top: 0;
  //   left: unset;
  //   margin-top: 33px;
  //   padding: 0;
  //   position: absolute;
  //   top: 100%;
  //   left: -147px;
  //   border: 1px solid #f2f2f2;
  //   display: block;
  //   margin-top: 30px;
  //   min-width: 12rem;
  //   opacity: 0;
  //   overflow: hidden;
  //   padding-top: 4px;
  //   text-align: left;
  //   -webkit-transition: opacity 0.5s linear;
  //   transition: opacity 0.5s linear;
  //   width: 240px;
  //   pointer-events: none;
  //   z-index: 50;
  // }
  
  .sort-results{
      padding: 0 0 20px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: baseline;
      -ms-flex-align: baseline;
      align-items: baseline;
      -webkit-transition: opacity .6s;
      transition: opacity .6s;
      font: 400 13px/1 Roboto Bold,Trebuchet MS,Helvetica,Arial,sans-serif;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #767676;
  }
  
  .dropdown {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    border: 0;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    outline: none;
    position: relative;
    text-transform: uppercase;
    vertical-align: top;
  }
  .dropdown_content {
    padding: 33px 12px;
    opacity: 1 !important;
    background-color: #fff;
    padding-bottom: 0.7rem;
    padding-top: 0.7rem;
  }
  
  .icon-svg {
    fill: #151515;
  }
  
  .dropdown__selected-cart {
    display: inline-block;
    margin: 0 0 0 5px;
    height: 20px;
    margin-top: -1px;
    width: 14px;
  }
  
  .dropdown_selected-label {
    margin: auto 0;
    padding-right: 8px;
    line-height: normal;
    font: 400 12px/1 RobotoCondensed Bold, Trebuchet MS, Helvetica, Arial, sans-serif;
    color: #e62429;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  
  .drop_trigger_content {
    display: flex;
  }
  
  .dropdown .dropdown_desktop {
    vertical-align: unset;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    border: 0;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    outline: none;
    position: relative;
    text-transform: uppercase;
    vertical-align: top;
  }
  
  .sort_results_dropdown {
    margin-left: 20px;
    color: #151515;
  }
  
  .dropdown_item {
    display: block;
    color: #e62429;
    text-decoration: none;
    color: #151515;
    // display: none;
    font-size: 0.875rem;
    line-height: 1.5;
    padding: 0.43rem 1.75rem !important;
    width: 100%;
    position: relative;
  }
  
  .sort_results_dropdown_sortby {
    position: relative;
    left: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
  }