.Moverojo {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 60px;

  .eye_container {
    display: flex;
    align-items: center;
    justify-content: center;
    

    .eye {
      position: relative;
      display: inline-block;
      border-radius: 50%;
      height: 120px;
      width: 120px;
      right: 23.7vw;
      top:18.6vh;

      &::after {
        content: ' ';
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url(https://i.annihil.us/u/prod/marvel/html_pages_assets/error-pages/prod/black-widow-eye.d8a46f86.png);
        background-repeat: no-repeat;
        pointer-events: none;
        transition: 0.5s;
      }
    }
  }
}
